/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

/*Removes the margin between footer and splash screen*/
footer.page-footer {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
}

/*Handles the icons in the footers*/
.page-footer .fa {
  padding: 3px;
}