/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

/*nav {
  position: fixed;
  z-index: 1002;
}

nav.nav-wrapper {
  margin: 0px;
  padding: 0px;
}*/

#nav-bar {
  height: 70px;
  margin-top: 0px;
  padding-top: 18px;
  position: relative;
}
#top-nav {
  width: 100%;
  height: 50px;
  padding-top: 4px;
  margin: 0px;
  display: inline-block;
}

#top-title {
  display: inline-block;
  color: white;
  height:20px;
  font-size: 20px;
  padding-right: 5px;
}

#top-search-form {
  width: 250px;
  height:20px;
  display:inline-block;
  float: right;
}
#top-search-form form {
  width: 180px;
  margin-right: 0px;
  padding-right: 8px;
  background: white;
  border: none;
  display: inline-block;
}

#top-search-box {
  height: 20px;
  padding: 0px;
  border: 1px solid white;
  margin-bottom: 0px;
}

#top-search-button {
  width: 30px;
  border: none;
  background: white;
  margin-left: 8px;

}

#top-search-button:hover {
  background: #71B500;
}