/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

.overlay {
  
  /*Needed to be over another div*/
  position: absolute;
  
  /*Used to get the entire div*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  /*Color of overlay*/
  background: black;

  /*How transparent the overlay would be when loading*/
  opacity: .80;

  /*Over everything else*/
  z-index: 1000;

  /*Font*/
  color: white;
  font-size: 20px;

  /*For scrollbar*/
  overflow: auto;

  display: inline-block;
}

#youTubeTracks {
  width: 50%;

  /*Moves to top and left side of overlay*/
  position: absolute;
  top: 0px;

  /*Font*/
  color: white;
  font-size: 20px;

  overflow: auto;
  border-right: 1px solid white;

  z-index: 1000;

}

#soundCloudTracks {
  width: 50%;

  /*Moves to right and top side of overlay*/
  position: absolute;
  top: 0px;
  left: 50%;

  /*FOnt*/
  color: white;
  font-size: 20px;

  overflow: auto;
  border-left: 1px solid white;

  z-index: 1000;
}