/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

.overlay {
  
  /*Needed to be over another div*/
  position: absolute;
  
  /*Used to get the entire div*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  /*Color of overlay*/
  background: white;

  /*How transparent the overlay would be when loading*/
  opacity: .90;

  /*Over everything else*/
  z-index: 1000;

  /*Font*/
  color: black;
  font-size: 20px;

  /*For scrollbar*/
  overflow: auto;

  display: inline-block;
}

#close-button {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  position: absolute;
  right: 8px;
  top: 3px;
  font-size: 14px;
  opacity: 1.0;
  font-weight: normal;
  background-color: #3F3F41;
  border: none;
  border-top-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  z-index: 1001;
  
}

#youTubeTracks {
  width: 50%;

  /*Moves to top and left side of overlay*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 50%;
  bottom: 0px;

  /*Font*/
  color: black;
  font-size: 20px;

  overflow: auto;
  border-right: 1px solid white;

  z-index: 1000;
}

.youTubeTracksRow {
  width: 100%;
  height: 100px;
  /*Displays the track with thumbnail in line*/
  display: inline-flex;
}

/*When hovering over a row*/
.youTubeTracksRow:hover, .youTubeTracksRow:hover .image-thumbnail{
  background-color: #ebfefa;
}

.youTubeTracksText {
  width: 80%;

  /*Keeps the text vertically centered in row*/
  margin-top: 36px;

  /*Stays in one line and does not overflow*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.youTubeTracksText a{
  color: black;
}

.youTubeTracksText a:hover {
  text-decoration: underline;
}

#soundCloudTracks {
  width: 50%;

  /*Moves to right and top side of overlay*/
  position: absolute;
  top: 0px;
  left: 50%;
  right: 0px;
  bottom: 0px;

  /*FOnt*/
  color: black;
  font-size: 20px;

  overflow: auto;
  border-left: 1px solid white;

  z-index: 1000;
}

.soundCloudTracksRow {
  width: 100%;
  height: 100px;
  /*Displays the track with thumbnail in line*/
  display: inline-flex;
}

/*When hovering over a row*/
.soundCloudTracksRow:hover, .soundCloudTracksRow:hover .image-thumbnail{
  background-color: #ebfefa;
}

.soundCloudTracksText {
  width: 80%;

  /*Keeps the text vertically centered in row*/
  margin-top: 36px;

  /*Stays in one line and does not overflow*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.soundCloudTracksText a{
  color: black;
}

.soundCloudTracksText a:hover {
  text-decoration: underline;
}

.addButton {
  background-color: white;
  border: none;
}

.addButton:hover {
  text-decoration: underline;
}

/*Thumbnail*/
.image-thumbnail {
  width: 20%;
  height: 100px;

  /*To keep it on the right of div*/
  position: relative;
  float: right;
}

.image-thumbnail img {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
