/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

/*The queue bar*/
#queue-bar {
  /*Size*/
  width: 400px;
  height: 100vh;
  
  /*background*/
  /*background-color: white;*/

  /*border: 1px solid black;*/

  /*Have it over everything*/
  z-index: 1001;
}