/*  =============================================================================
    
    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

#splash-screen {
  height: 100vh;
  background-color: white;
  position: relative;
}

#splash-screen-title {
  padding-top: 15vh;
  text-align: center;
}

#splash-screen-title h1 {
  /*Font*/
  color: black;
  font-size: 10vmin;
  opacity: 0.5;

  text-shadow: 3px 3px 3px #000000;
}

#soundCloudPlayer, #youTubePlayer {
  display: none;
}

#sound-cloud-logo-and-bar {
  width: 100%;
  
  margin-left: 20px;
  margin-right: 20px;

  display: inline-block;
}

#sound-cloud-volume {
  width: 80%;
}