/*  =============================================================================

    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */
    
.clicked {
  background: #71B500
}

#close {
  display:inline-block;
  background:#FFFFFF;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}


#close:hover {
  display:inline-block;
  background:#71B500;
  color:##71B500;
}