/*  =============================================================================
    Style for the loading Icon

    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */

/*The css for the actual loading icon*/
.loadingScreen .fa {
  /*Color and size of the logo*/
  color: #A9A9A9;
  font-size: 55px;
  
  /*Needed*/
  position: absolute;

  /*Same index as the overlay*/
  z-index: 1000;
}

/*The index page of the loading screen*/
#index-page .loadingScreen .fa {
  /*Sets the position of the loading icon to the center*/
  top: 300px;
  left: 47%;
}

/*The playlist page of the loading screen*/
#playlist-page .loadingScreen .fa {
  /*Sets the position of the loading icon to the center*/
  top: 150px;
  left: 47%;
}

/*Used to make the entire background transparent when loading*/
.overlay {
  /*Needed to be over another div*/
  position: absolute;
  
  /*Used to get the entire div*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  /*Color of overlay*/
  background: black;

  /*How transparent the overlay would be when loading*/
  opacity: .58;

  /*Over everything else*/
  z-index: 1000;
}

