/*  =============================================================================

    Copyright © Vent Origins 
    By Adrian Mandee and Randy Truong
    ========================================================================== */
    
/*Entire playlist bar*/
#nav {
  width: 250px;
  height: 100vh;
  margin: 0px;
  padding: 0px;


  background-color: #222226;

  /*Keeps the playlist bar to the left of the Splash Screen*/
  float: left;

  /*Keeps the nav bar in place throughout entire page*/
  position: fixed;

  /*Adds a scrollbar to the playlist bar*/
  overflow-y: auto; 

  border: none;
  z-index: 1000;
}

/*Used for the playlist's list button*/
/*Currently not used*/
/*#nav-button {
  width: 50px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 1px solid yellow;
  background: white 10px 10px / 20px 20px no-repeat;
  background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
  background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}*/

/*The category title in the playlist bar*/
#nav-playlist-head h1 {
  /*Added spacing to the title's top*/
  margin-top: 10px;
  margin-bottom: 10px;

  /*Added spacing to titles left and right*/
  padding-left: 20px;
  padding-right: 20px;

  /*Font*/
  font-size: 13px;
  color: #A2A7B1; 
  border: none;
}

/*For each individual playlist names, these are actual buttons*/
#nav-playlist {
  /*Set width of the playlist nav bar, goes to 100% of the full height of screen*/
  width: 250px;
  height: 100vh;
  
  /*margins and padding*/
  margin: 0px;
  padding: 0px;

  border: none;
}

/*For each individual playlist names, these are actual buttons*/
#nav-playlist button {
  /*Size of the entire list*/
  width: 250px;
  height: 18px;

  /*Added spacing between the playlist's names*/
  margin-top: 10px;
  margin-bottom: 10px;

  /*Moves positions of the playlists a bit to the right of the left side of screen*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 10px;

  /*Font*/
  text-align: left;
  font-size: 13px;
  color: #A2A7B1;
  background-color: #222226;

  border: none;
}

/*The music logo*/
#nav-playlist button .fa {
  /*Adjusts the size to the size of the icon*/
  width: 0px;
  height: 0px;
  margin-right: 25px;

  /*Font*/
  font-size: 13px;
  color: #A2A7B1;

  border: none;
}

/*When hovering over a playlist name, lights up white*/
#nav-playlist button:hover{
  color: white;
}
